@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<!--index page to display table of books. Uses razor code to pull data from the Model
    loops through each one and displays in order. Added Bootstrap to create table and add
    styling.

    new bootstrap commands are shadow, alert, alert-dark,  and text-uppercase
    
    -->



<div class="container">

    @foreach (var x in Model.Books)
    {

        <partial name="BookSummary" model="x" />

    }

    <div class="alert alert-dark" role="alert">
        <strong>Well done!</strong> You successfully viewed my bookstore!
    </div>


    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1"></div>

</div>
